* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
}

ul {
  list-style: none;
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: column dense;
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
}

img {
  height: 300px;
}